.searchform {
  display: flex;

  input[type=text] {
    margin-bottom: .5rem;
  }

  input[type=submit] {
    margin-left: .5rem;
  }
}

.footer {
  .searchform {
    input[type=text] {
      color: white;
    }
  }
}


@media (max-width: 992px) {
  .searchform {
    input[type=submit] {
      margin: 0;
    }
  }
}