// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;
$grid-gutter-width-base: 0px;
$max-inner-width: 1000px;

// Colors
$brand-primary: rgb(0, 194, 239);
$brand-success: rgb(209, 223, 144);
$brand-gray: rgb(62, 69, 74);
