.footer {
  color: white;
  background-color: rgb(62, 69, 74);
  padding: 2rem 1rem;

  .footer-icons {
    margin-right: 2rem;

    i {
      margin: 0 .5rem;
    }
  }

  .form-group {
    margin-bottom: 0;
  }

  input[type=text] {
    background-color: rgb(62, 69, 74);
    border: 1px solid white;
  }

  input::-webkit-input-placeholder {
    color: white !important;
  }

  input:-moz-placeholder { /* Firefox 18- */
    color: white !important;
  }

  input::-moz-placeholder {  /* Firefox 19+ */
    color: white !important;
  }

  input:-ms-input-placeholder {
    color: white !important;
  }
}

@media (max-width: 992px) {
  .footer-left {
    margin-bottom: 1rem;
  }

}