.header-logo {
  height: 68px;
}

.navbar-header {
  background-color: rgba(62, 69, 74, 0.6);
}

.primary-nav {
  width: 100%;
  max-width: 60rem;

  .nav-item {

    .nav-link {
      color: white;
    }
  }
}

#primary_nav {
  margin-left: auto;

}

.page-header {

}

.logged-in {
  margin-top: 32px;
}

.home-hero {
  background-image: url('../images/home_hero.jpg');
  background-size: cover;
  background-position: center;
  color: white;

  .hero-inner {
    margin: 10rem 0;
  }

  .display-4 {
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .hero-overlay {
    background-color: rgba(62, 69, 74, 0.4);
  }

  .hero-tagline-image {
    max-height: 280px;
    max-width: 100%;
    padding-right: 1rem;
  }
}

.subpage-hero {
  margin-top: 92px;
  background-image: url('../images/workers.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  max-height: 350px;

  .hero-inner {
    margin: 5rem 0;
  }

  .display-4 {
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .hero-overlay {
    background-color: rgba(62, 69, 74, 0.4);
  }

  .hero-tagline-image {
    max-height: 180px;
    max-width: 100%;
    margin-right: 1rem;
  }

  .subpage-hero-right {
    padding-top: 3rem;
  }
}

@media (max-width: 992px) {
  #primary_nav {
    margin-left: 0;
  }
}

@media (max-width: 782px) {
  .logged-in {
    margin-top: 46px;
  }

  .subpage-hero {
    .hero-inner {
      margin: .5rem 0;
    }
  }

  .subpage-hero-right,
  .subpage-hero-left{
    margin-left: 1rem;
  }
}