.main {
  padding: 2rem;
}

// Homepage
.solutions {
  width: 100%;
  background-image: url('../images/bg_1.png');
  background-repeat: repeat;
  padding: 4rem 0;

  .header {
    margin-bottom: 3rem;
  }

  .solution-item {
    padding: 0 1rem;
    margin-bottom: 2rem;

    .solution-image {
      height: 50px;
      margin-bottom: 1rem;

      img {
        max-width: 50px;
        max-height: 50px;
      }
    }

    p {
      margin-top: 1rem;
      color: $gray-light;
    }

    a {
      text-decoration: none;
      font-size: 1rem;
    }
  }
}

.join-the-team {
  height: 400px;
  width: 100%;
  background-image: url('../images/meeting.jpg');
  background-size: cover;
  background-position: center;

  .inner-overlay {
    background-color: rgba(62, 69, 74, 0.7);
    padding: 4rem 4rem 4rem 16rem;

    .h1 {
      color: rgb(209, 223, 144);
    }

    p {
      color: white;
    }

    a {
      text-decoration: none;
      font-size: 1rem;
      padding-bottom: 3px;
      color: $brand-success;
      border-bottom: 2px solid $brand-success;
    }

    .left-pane {
      border-right: 1px solid $gray-lighter;
      padding-right: 4rem;
    }

    .right-pane {

      img {
        max-height: 160px;
        margin-bottom: 1rem;
      }
    }
  }

  .benefits {

    .benefit-image {
      max-width: 200px;
    }

    .fa {
      font-size: 1.7rem;
      margin-top: 4rem;
      color: $brand-success;
    }
  }
}

.insights {
  //height: 400px;
  width: 100%;
  background-image: url('../images/bg_2.png');
  background-size: cover;
  background-position: center;
  padding: 2rem 0;

  .insight {
    padding: 0 1rem;
  }

  p {
    color: $gray-light;
  }

  .h5 {
    margin: 1rem 0;
  }

  .insight-footline {
    padding-top: 2rem;
    color: $gray-light;

    a {
      margin-left: 1rem;
      text-decoration: none;
      padding-bottom: 3px;
      border-bottom: 2px solid $brand-primary;
    }
  }
}

.quote-area {
  height: 400px;
  width: 100%;
  background-image: url('../images/meeting.jpg');
  background-size: cover;
  background-position: center;

  .inner-overlay {
    background-color: rgba(62, 69, 74, 0.7);
    padding: 8rem 1rem 1rem 1rem;

    .quote {
      max-width: 800px;
      text-align: center;
    }
  }
}

.community {
  padding: 4rem 1rem;

  .h1 {
    margin-bottom: 3rem;
  }

  img {
    margin-bottom: 1rem;
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  .join-the-team {
    .inner-overlay {
      padding: 1rem;
    }
  }
}

@media (max-width: 768px) {

  .join-the-team {
    height: auto;

    .inner-overlay {
      padding: 1rem;

      .left-pane {
        border: none;
      }

      .right-pane {
        margin-top: 1rem;
      }
    }
  }

  .quote-area {
    .inner-overlay {
      padding-top: 4rem;
    }
  }

  .insights {
    .insight-footline {
      padding: 1rem;

      a {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 576px) {
  .join-the-team {

    .inner-overlay {
      padding: 1rem;

      .left-pane {
        border: none;
        margin-bottom: .5rem;
      }

      .right-pane {
        //display: none;
      }
    }
  }
}